<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GuessingDao">

    <!-- 获取所有竞猜信息 -->
    <select id="selectGuessInfo" resultType="com.model.entity.Guessing">
        SELECT id, name, player_1 AS player1, choose_1 AS choose1, player_2 AS player2, choose_2 AS choose2, start_time AS startTime, end_time AS endTime
        FROM guessing;
    </select>

    <!-- 获取某用户已竞猜的比赛ID列表 -->
    <select id="selectMatchId" parameterType="Integer" resultType="Integer">
        SELECT rid FROM record WHERE uid = #{id};
    </select>

    <!-- 添加新选择 -->
    <insert id="insertChoice" parameterType="Integer">
        INSERT INTO guess.record(uid, rid, choose)
        VALUES (#{uid}, #{rid}, #{choose});
    </insert>

    <!-- 获取所有竞猜信息 -->
    <select id="getAll" resultType="com.model.entity.Guessing">
        SELECT id, name, player_1, choose_1, player_2, choose_2, start_time AS startTime, end_time AS endTime
        FROM guessing;
    </select>

</mapper>
