<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
    <select id="selectUserByPhoneNumber"  parameterType="String" resultType="com.model.entity.User">
        select *
        from guess.user where phoneNumber=#{phoneNumber};
    </select>

    <select id="selectUserByUserName"  parameterType="String" resultType="com.model.entity.User">
        select *
        from guess.user where userName=#{userName};
    </select>

    <select id="selectUserByIP"  parameterType="String" resultType="com.model.entity.User">
        select *
        from guess.user where IP=#{IP};
    </select>

    <insert id="insertUser" parameterType="String">
        insert into guess.user(phoneNumber,password,userName,address,IP)
        VALUES (#{phoneNumber},#{password},#{userName},#{address},#{IP});
    </insert>





</mapper>